
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-info elevation-4">
    <a href="/Home/Index" class="brand-link">
        <span class="brand-text font-weight-light">GrupoClientes</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/adminlte/dist/img/ajax.png" class="img elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Nathan Farias</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <ion-icon name="list-outline"></ion-icon>   
                        <p>
                            Listagens
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Grupo/Index" class="nav-link">
                                <ion-icon name="people-sharp"></ion-icon>
                                <p>Grupo</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Menu/Index" class="nav-link">
                                <ion-icon name="terminal-sharp"></ion-icon>
                                <p>Menu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Usuario/Index" class="nav-link">
                                <ion-icon name="person-add-sharp"></ion-icon>
                                <p>Usuario</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <ion-icon name="create-outline"></ion-icon>
                        <p>
                            Cadastros
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Grupo/Create" class="nav-link">
                                <ion-icon name="people-sharp"></ion-icon>
                                <p>Grupo</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Menu/Create" class="nav-link">
                                <ion-icon name="terminal-sharp"></ion-icon>
                                <p>Menu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Usuario/Create" class="nav-link">
                                <ion-icon name="person-add-sharp"></ion-icon>
                                <p>Usuario</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>