@model GrupoClientes.ViewsModel.MenuViewModel

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Detalhes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Detalhes</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="content" style="margin:16px;">
    <div class="card card-navy">
        <div class="card-header">
            <h3 class="card-title">Menu</h3>
        </div>
        <div class="card-body p-0">
            <table class="table">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Url</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Descricao)</td>
                        <td>@Html.DisplayFor(model => model.Url)</td>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


<!--LISTAGEM DE GRUPOS DO MENU-->
@if (Model.Grupos.Count > 0)
{
    <section class="content" style="margin:16px;">
        <div class="row">
            <div class="col-12">
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Grupos que pertencem ao Menu <b>"@Html.DisplayFor(model => model.Descricao)"</b></h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" id="tabela-editar" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Grupos)
                                {
                                    <tr>
                                        <td class="table-filter-item">@item.Descricao</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div class="content" style="margin:16px;">
    <a asp-action="Index" class="btn btn-info">Voltar a página anterior</a>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tableSearchInput = document.getElementById('tabela-editar');
        var tableFilterItems = document.getElementsByClassName('table-filter-item');

        tableSearchInput.addEventListener('input', function () {
            var searchText = tableSearchInput.value.toLowerCase();

            Array.prototype.forEach.call(tableFilterItems, function (item) {
                var itemText = item.textContent.toLowerCase();
                var row = item.parentNode;
                row.style.display = itemText.includes(searchText) ? '' : 'none';
            });
        });
    });
</script>