@model GrupoClientes.Models.Usuario

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Página Inicial</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content" style="margin:16px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-indigo card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Grupo</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Grupo Ações</h6>
                        <p class="card-text">Listagem completa dos grupos com ações de Detalhar, Deletar e Editar</p>
                        <a href="/Grupo/Index" class="btn btn-secondary">Listagem de Grupos</a>
                    </div>
                </div>

                <div class="card card-indigo card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Menu</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Menu Ações</h6>

                        <p class="card-text">Listagem completa dos menus com ações de Detalhar, Deletar e Editar</p>
                        <a href="/Menu/Index" class="btn btn-secondary">Listagem de Menus</a>
                    </div>
                </div>

                <div class="card card-indigo card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Usuário</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Usuários Ação</h6>

                        <p class="card-text">Listagem completa dos Usuários com ações de Detalhar, Deletar e Editar</p>
                        <a href="/Usuario/Index" class="btn btn-secondary">Listagem de Usuários</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-orange card-outline">
                    <div class="card-header">
                        <h5 class="m-0">ASP.Net com MVC</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">.Net 6</h6>
                        <p class="card-text">CRUD completo de Usuários, Grupos e Menus.</p>
                        <a href="/Grupo/Index" class="btn btn-success">Relátorio de Grupos</a>
                    </div>
                </div>

                <div class="card card-orange card-outline">
                    <div class="card-header">
                        <h5 class="m-0">SQL Server</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Relacionamentos</h6>

                        <p class="card-text">Relacionamento de muitos para muitos entre usuários, menus e grupos.</p>
                        <a href="/Menu/Index" class="btn btn-success">Relátorio de Menus</a>
                    </div>
                </div>

                <div class="card card-orange card-outline">
                    <div class="card-header">
                        <h5 class="m-0">SQL Server</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Relacionamentos</h6>

                        <p class="card-text">Um usuário pode está em vários grupos.</p>
                        <a href="/Usuario/Index" class="btn btn-success">Relátorio de Usuários</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" style="margin:16px;">
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-olive">
                <div class="inner">
                    <h3>150</h3>

                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>Bounce Rate</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-lightblue">
                <div class="inner">
                    <h3>44</h3>

                    <p>User Registrations</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-indigo">
                <div class="inner">
                    <h3>65</h3>

                    <p>Unique Visitors</p>
                </div>
                <div class="icon">
                    <i class="fas fa-trash"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
</div>
