
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sobre</h1>
            </div>
        </div>
    </div>
</section>

<section class="content" style="margin:16px;">
    <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            1. Sobre este projeto
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        O "GrupoClientes" é um projeto de um treinamento que permiti criar um relacionamento de muitos para muitos
                        entre Grupos e Usuários, Usuários e Menus, Menus e Grupos. Possuindo cadastros e permissões de acesso.
                    </div>
                </div>
            </div>
            <div class="card card-warning card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            2. Tecnologias utilizadas
                        </h4>
                    </div>
                </a>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Utilizando as seguintes ferramentas:
                        <br>
                        1. .Net 6
                        <br>
                        2. ASP.Net<abbr title="Model-View-Controller">(MVC)</abbr>
                        <br>
                        1. SQL Server
                        <br>
                        2. Páginas Razor(Admin Lte 3.2)
                        <br>
                        1. Entity Framework
                    </div>
                </div>
            </div>
                <div class="card card-danger card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                3. Entity Framework e Banco de dados
                            </h4>
                        </div>
                    </a>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            A estratégia utilizada foi o Code-First, ou seja, a partir da modelagem dos dados
                            nas models do código foi criado com Entity Framework as tabelas do banco de dados no SQL Server.
                        </div>
                    </div>
                </div>
        </div>  
        <div class="row">
            <div class="col-12 mt-3 text-center">
                <p class="lead">
                    <a href="contact-us.html">Entra em contato</a>,
                    para mais informações é só ligar meu chapa!<br />
                </p>
            </div>
        </div>
    </div>
</section>